params {
    cpus = 1

    fasta_path = "/home/nanguage/Drive-D/Genome/hg19/hg19.fa"
    chrom_file = "hg19"

    input_reads = "./test_data/single/*_{1,2}.fq.gz"
    linker = "GTCGGANNNNNNNNGCTAGCNNNNNNNNTCCGAC"
    enzyme_name = "MseI"
    enzyme = "T^TA^A"
    bwa_index_prefix = "/home/nanguage/Drive-D/Genome/hg19/bwa-index/hg19.fa"
    rest_file = ""

    barcodes_file = "/home/nanguage/Dropbox/workspace/scDLO/notes/barcodes.txt"

    juicer_tools_jar = "/mnt/d/S/juicer_tools_1.22.01.jar"
    resolutions = "2500000,1000000,500000,250000,100000,50000,25000,10000,5000"
}
