params {
    fasta_path = "/public/data/genome/homo_sapiens/hg19/hg19.fa"
    chrom_file = "hg19"

    input_reads = "./test_data/*_{1,2}.fq.gz"
    linker = "GTCGGANNNNNNNNGCTAGCNNNNNNNNTCCGAC"
    enzyme_name = "MseI"
    enzyme = "T^TA^A"
    bwa_index_prefix = "/public/data/genome/homo_sapiens/hg19/bwa_index/hg19"
    rest_file = "/home/wzxu/S/scDLO/test_data/MseI.hdf5"

    barcodes_file = "/home/wzxu/S/scDLO/notes/barcodes.txt"

    juicer_tools_jar = "/home/wzxu/S/juicer/juicer_tools_1.11.09_jcuda.0.8.jar"
    resolutions = "2500000,1000000,500000,250000,100000,50000,25000,10000,5000"
}

process {
    cpus = {1 * task.attempt}
    memory = {500.MB* task.attempt}

    withName: unzip {
        memory = "1 GB"
        cpus = 8
    }
    withName: extract_PETs {
        memory = "1 GB"
        cpus = 8
    }
    withName: build_bedpe {
        memory = "8 GB"
        cpus = 8
    }
    withName: extract_fragments {
        memory = "3 GB"
        cpus = 32
    }
    withName: build_pairs {
        memory = "6 GB"
        cpus = 8
    }
    withName: split_cells {
        memory = "1 GB"
        cpus = 8
    }
    withName: sort_pairs_per_cell {
        memory = "2 GB"
        cpus = 8
    }
    withName: build_dot_hic_per_cell {
        memory = "2 GB"
        cpus = 15
    }
    withName: merge_pairs_per_library {
        memory = "10 GB"
        cpus = 16
    }
    withName: build_dot_hic_per_library {
        memory = "10 GB"
        cpus = 16
    }
    withName: merge_all_pairs {
        memory = "10 GB"
        cpus = 32
    }
    withName: build_dot_hic_all {
        memory = "10 GB"
        cpus = 32
    }
}
